.home-carousel {
  display: flex;
  width: 100% !important;
  margin: auto;
}
.carousel {
  position: relative;
  width: 100%;
}
.carousel-caption {
    font-family: var(--font-family);
    color: var(--white-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
  }
  
.carousel-caption h1 {
  margin-bottom: 0px;
  font-size: 22px;
  text-shadow: 2px 2px 4px rgba(5, 5, 5, 1);
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  background-color: rgb(66, 53, 53 , 0.5);
  word-spacing: 5px;
}
.carousel-item img {
  height: 100vh !important;
  width: 100% !important;
}
