#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
 text-align: center;
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 20px;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 12px;
}
#clock p{
  margin-bottom: 0px;
}